
.formulario a {
    color: #217f57;
    font-weight: bold;
}

.stepper{
    margin-bottom: 2rem;
}
.stepper .nav-tabs {
    position: relative;
    border: 0;
    margin: 0;
    padding: 2rem 0;
}

.barra-prog {
    background: #217f57;

}
.stepper .nav-tabs>li {
    width: 33.333333333%;
    position: relative;
    padding-bottom: 0;
}
.stepper .nav-tabs>li .text {
    font-size: .875rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #217f57;
    text-transform: uppercase;
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
}

.stepper .barra-prog {
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    display: inline-block;
    border-radius: 1rem;

    border: none;
    color: transparent;
    z-index: 2;
    position: absolute;
    left: calc(50% - .5rem);
    text-align: center;
    font-size: 1rem;
}

.stepper .nav-tabs>li:after {
    content: "";
    position: absolute;
    background: 0 0;
    display: block;
    height: .5rem;
    top: .25rem;
    left: 0;
    z-index: 101;
    border-radius: 0;
}
stepper .nav-tabs>li:first-of-type.active:after {
    border-radius: 0.375rem;
}

.stepper .nav-tabs>li.completed:after {
    background: #217f57;
    width: 100%;
}
.select-height{
    cursor: pointer;
    background-color:rgb(255, 204, 74); 
    font-size: 1em;
    margin: 2px;
}

.select-height:hover {
    background-color:rgb(250, 221, 149); 
    
}

.stepper .nav-tabs>li.active:after {
    background:#217f57;
    width: 60%;
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
}
.line-numbered span {
    width: 2.5rem;
    height: 2.5rem;
    background: #217f57;
    border-radius: 1.25rem;
    line-height: 2.5rem;
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin: 1rem auto;
    display: inline-block;
}
.boton {
    font-weight: bold;
    font-size: 1.5em;
    padding:1em 2em;
    border:#217f57 solid 1px
}
.boton:hover {
    background-color: white;
    color: #217f57;
}

.tarj-layer .tarj-diag {
    margin:0;
    height:auto;
}

.tarj-diag  {
    background-color: #fff9;
    padding:2em;
    max-width: 500px;
    margin: auto;
    height: 100%;
}



.tarj-diag p {
    margin: 0;
}
.tarj-diag .boton {
    padding: .5em 1em;
}
.tarj-diag p a {
    color: #217f57;
    font-weight: bold;
}
.tarj-fondo {
 
    background-image: url("/diagnostico-gratis/images/fondo-diagnostico.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.tarj-layer{
    display: flex;
    max-width: 1000px;
    margin: auto;
    height: 100%;
}

.tarj-diag-text h3{
  padding-top: 2em;
}

.tarj-layer h2,
.tarj-layer h3 {
    font-variant:small-caps;
}
.tarj-diag-text a{
    font-size: 2em;
    align-content: center;
}
.tarj-diag-text a:hover{
    color: #217f57
}
.formulario div form {
    display:grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: none;
    
}

/* .form-check {
    width: 250px;
    height: 200px;
    
} */
.form-check-input{
    font-size: 1.4em;
}
.form-check-label{
    font-size: 1.4em;
}


/* mediaquerys */

@media (max-width: 575.98px)and (orientation:portrait) {
    .tarj-diag  {
        padding:0;
    }
    .tarj-layer{
        display: flex;
        flex-direction:column-reverse;
        
    }
}